.todoForm{
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.addButton{
    background-color: #f4ca18;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;

}

.modernInput{
    width: 100%;
    display: block;
    border: none;
    font-size: 1.5em;
}

.modernInput:focus{
    outline: none;
}

.inputHolder{
    display: flex;
}